<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{/* Menghindari Duplikasi Judul dan Bagus untuk SEO */}}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{/* Meta Deskripsi Dinamis */}}
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    
    {{/* Open Graph / Facebook SEO */}}
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    
    {{/* Jalur Pintas CDN Tailwind CSS untuk Mode Development */}}
    <script src="https://cdn.tailwindcss.com"></script>
</head>